<configuration>
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ux 하위 패키지들은 DEBUG 로그를 default로 찍는다. -->
    <logger name="co.lopun" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- spring의 경우 INFO 로그만 찍는다. DEBUG 로그는 너무 많음. -->
    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <springProperty scope="context" name="LOG_LEVEL" source="logging.level.root"/>

    <logger name="org.jooq.tools.LoggerListener" level="DEBUG"/>
    <logger name="org.jooq" level="DEBUG"/>
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
